<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231133302486-u5a5r4cve7v7asig7hh17ekh5urv9n5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231133302486-u5a5r4cve7v7asig7hh17ekh5urv9n5f</string>
	<key>API_KEY</key>
	<string>AIzaSyBoLwrOGRCAXIhjEWHsVSPq73sgTG8sjXs</string>
	<key>GCM_SENDER_ID</key>
	<string>231133302486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uber</string>
	<key>PROJECT_ID</key>
	<string>uber-2dcc9</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-2dcc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231133302486:ios:fc0ef1b61b6cb8122b4377</string>
</dict>
</plist>